
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广西南宁麦格瑞出国咨询有限公司</title>

<meta name="keywords" content="广西麦格瑞,麦格瑞出国,广西留学移民,广西出国,南宁出国" />

<link href="{{ static }}/5migrate/reset.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ static }}/5migrate/text.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ static }}/5migrate/960_24_col.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ static }}/5migrate/gsreset.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ static }}/5migrate/common.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ static }}/5migrate/base.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{ static }}/5migrate/c.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{{ static }}/5migrate/jquery.js"></script>
<script type="text/javascript" src="{{ static }}/5migrate/LAB.min.js"></script>
<script type="text/javascript" src="{{ static }}/5migrate/ensureMedia.js"></script>
<script type="text/javascript" src="{{ static }}/5migrate/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ static }}/5migrate/common.js"></script>
<script type="text/javascript" src="{{ static }}/5migrate/base.js"></script>
<script type="text/javascript">
        var lazyLoadMedia = {"_css": {}, "_js": ["http://www.5migrate.com/static/admin/js/jquery.js", "http://www.5migrate.com/static/_Client/JQuery/lazyload/jquery.lazyload.min.js"]};
        var editMedia = {"_css": {"all": ["http://www.5migrate.com/static/_Client/JQuery/jquery-ui/jquery-ui.min.css", "http://www.5migrate.com/static/_Client/JQuery/jquery-ui/themes/redmond/theme.css", "http://www.5migrate.com/static/_Client/Common/common.css", "http://www.5migrate.com/static/epage/css/edit.css"]}, "_js": ["http://www.5migrate.com/static/admin/js/jquery.js", "http://www.5migrate.com/static/_Client/JQuery/jquery-ui/jquery-ui.min.js", "http://www.5migrate.com/static/_Client/JQuery/ui-dialog.js", "http://www.5migrate.com/static/epage/js/edit.js"]};
        var notifyMedia = {"_css": {"all": ["http://www.5migrate.com/static/_Client/JQuery/jquery-ui/jquery-ui.min.css", "http://www.5migrate.com/static/_Client/JQuery/jquery-ui/themes/redmond/theme.css", "http://www.5migrate.com/static/_Client/JQuery/pnotify/jquery.pnotify.default.css"]}, "_js": ["http://www.5migrate.com/static/admin/js/jquery.js", "http://www.5migrate.com/static/_Client/JQuery/pnotify/jquery.pnotify.js"]};
        var getNotifyUrl = "/epage/get_notify/";
        var asyncWidgetRenderUrlPattern = "/_cmspages_render_async_widget/%7BwidgetId%7D/";
            var getWidgetContentManageUrl = "/admin/cmspages/page/get_widget_content_manage_url/%7BwidgetId%7D/";
            var parseWidgetUrl = "/admin/cmspages/page/4/parse_widget/?widgetId={widgetId}";
            
        </script><script type="text/javascript">
                var getContentPageContentManageUrl = "/admin/cmspages/page/get_contentpage_content_manage_url/%7BmoduleId%7D/";
            </script>
</head>

<body>
<div class="container container_24"><div class="grid grid_24 home"><div class="customContent">
    <img src="{{ static }}/5migrate/home_r1_c1_s1.jpg" alt="" width="349" height="223">&nbsp; &nbsp;
    <a href="/live/xx_mgr/ym/index/" target="_blank"><img src="{{ static }}/5migrate/home_r1_c2_s1.jpg" alt="" width="352" height="223"></a>
    <img src="{{ static }}/5migrate/home_r1_c4_s1_s1.jpg" alt="" width="229" height="223"><br>
    <img src="{{ static }}/5migrate/home_r2_c1_s1.jpg" alt="" width="349" height="223">&nbsp; &nbsp;
    <a href="/live/xx_mgr/lx/index/"><img src="{{ static }}/5migrate/home_r2_c2_s1.jpg" alt="" width="143" height="223"></a>
    <img src="{{ static }}/5migrate/home_r2_c3_s1.jpg" alt="" width="209" height="223">
    <img src="{{ static }}/5migrate/r71.jpg" alt="" width="229" height="223"></div></div></div>
</body>
</html>