{% extends "ym_base.html" %}

{%block main%}
{#21#}
{#213#}
<!--动态加载模块开始-->
    <style>
    .ymgj_main {
         margin-top: 0px;
    }
    .wBody{
        min-height: 286px;
    }
    .tplArea ul.dateList li a {
{#        font-size:none;#}
        line-height:34px;
    }
    </style>


 <div name="ymgj_banner" class="container container_24 tplArea ymgj_banner">
    <div class=" banner_b">
        <div class="widget widget_43_29" data-title="移民国家焦点图" href="/ymgj_jdt/">
            <div class="ImageDisplayBoxWrap ImageDisplayBoxWrap_LinkModule">
                <div class="ImageDisplayBox imageDisplay_43">
                   {% for article in five_article_list %}
                        <a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank" title="1">
                            <img src="{{ article.cover.url }}" style="width:1680px; height:380px; margin:0px 0px 0px 0px;" alt="1" />
                        </a>
                    {% endfor %}

                </div>
            </div>
            <script type="text/javascript">
            $(function() {
                function init(){
                    var box = $(".imageDisplay_43");
                    box.each(function(){
                        if(this.initCycle)
                            return;
                        this.initCycle = true;

                        var box = $(this);
                        var wrap = box.closest('.ImageDisplayBoxWrap');


                        box.cycle({


                            slides: "> a"
                        });
                    });
                }
                ensureMedia({"_css": {}, "_js": ["http://www.5migrate.com/static/admin/js/jquery.js", "http://www.5migrate.com/static/_Client/JQuery/cycle2/jquery.cycle2.min.js"]}, init);
            });
            </script>
        </div>
    </div>
</div>






<div name="ymgj_main" class="container container_24 tplArea ymgj_main">
{#    焦点新闻#}
        <div class="grid grid_15">
    <div style="height:25px"></div>
            <div class="widgetSet gsgk ui-sortable-handle">
                <ul class="setHeader">
                    {% for tag in one_tag_list %}
                         {% if forloop.first %}
                            <li class="firstTab current">
                         {% elif  forloop.last %}
                             <li class="lastTab">
                         {% else %}
                            <li>
                         {% endif %}
                            <a href="{{ cover_base_url }}/{{ nav_index }}/{{ tag.id }}/">{{ tag.name }}</a>
                         </li>
                    {% endfor %}
                </ul>
                <div class="setBody">

                     {% for article in one_article_list %}
                     <div class="widget widget_564_214 standardWidget ui-sortable-handle gsgn current">
                        <div class="wHeader">

                            <a class="more" href="菜单地址">更多...</a>
                        </div>
                        <div class="wBody">
                            <ul class="summaryList summaryList_ArticleModule">
                                <li>
                                    <div class="imgBox">
                                        <a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank">
                                            <img src="{{ article.cover.url }}" data-original="/Content/admin/js/ueditor/net/upload/image/20180529/6366318530627640679036939.jpg" style="width: 250px; height: 250px; display: inline;">
                                        </a>
                                    </div>
                                    <a class="title" href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank">{{ article.title }}</a>
                                    <div class="summary">
                                       {{ article.subtitle }}
                                        <span class="more"><a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank">[详细]</a></span> <span class="more">
{#                                        <a href="/Front/YimingMenuDetail?menuID=c61794e904b04ef99a9b0172ba3c34dd&amp;modelID=cd4462275d434d82b1590b0f4d141d9e&amp;rootMenuID=" target="_blank">[更多]</a>#}
                                    </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


{#    移民资讯#}
        <div class="grid grid_9">
    <div style="height:25px"></div>
            <div class="widget widget_47_30 standardWidget ui-sortable-handle lxzx">
                <div class="wHeader">
                    <h2 class="caption">{{ two_tag.name }}</h2>

                    <a class="more" href="{{ cover_base_url }}/{{ nav_index }}/{{ two_tag.id }}">更多...</a>
                </div>
                <div class="wBody">
                          <ul class="dateList dateList_ArticleModule">
                              {% for article in two_article_list %}
                                <li>
                                    <a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank" title="澳洲10年往返签正式实施啦！澳洲留学探亲好利器！">
                                        {{ article.title|slice:"15" }}
                                    </a>
                                    <span>{{ article.issue_time|date:"Y/m/d" }}</span>
                                </li>
                              {% endfor %}
                          </ul>
                </div>
            </div>
        </div>


{#移民攻略#}
<div class="grid grid_15 lxgl_a"><div class="grid grid_15 alpha omega lxgl_b"><div class="grid grid_2 alpha ymgl_n"><div class="customContent">
    <a href="{{ cover_base_url }}/{{ nav_index }}/{{ three_tag.id }}/">更多...</a>
</div></div></div>
    <div class="grid grid_15 alpha omega lxgl_c" style="height:285px;">
        <div class="grid grid_7 alpha"><div class="widget widget_51_31 lxgl_zy ui-sortable-handle" data-title="移民攻略摘要" href="/ymgl_zy/">
        <ul class="summaryList summaryList_ArticleModule">
            <li>
                <div class="imgBox">
                    <a href="{{ article_base_url }}/{{ nav_index }}/{{ three_article_list.0.id }}/" target="_blank">

                    <img src="{{ three_article_list.0.cover.url  }}"  style="width: 240px; height: 144px; margin: 3px 0px; display: inline;">

                    </a>
                </div>
                <a class="title" href="{{ article_base_url }}/{{ nav_index }}/{{ three_article_list.0.id }}/" target="_blank" title="怎样安排留学期间打工时间更为合理？">{{ three_article_list.0.title }}</a>
                <div class="summary">
                       {{ three_article_list.0.subtitle }}
                    <span class="more"><a href="{{ article_base_url }}/{{ nav_index }}/{{ three_article_list.0.id }}/" target="_blank">[详细]</a></span>
                </div>

            </li>
        </ul>
        </div></div><div class="grid grid_7 lxgl"><div class="widget widget_52_32 lxgl" data-title="移民攻略" href="/ymgl/">
<ul class="list list_ArticleModule">
    {% for article in three_article_list %}
         {% if forloop.first %}
         {% else %}
            <li><a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank" title="澳洲10年往返签正式实施啦！澳洲留学探亲好利器！">{{ article.title|slice:"15" }}</a></li>
         {% endif %}
    {% endfor %}

</ul></div></div></div></div>






{#成功案例#}
<div class="grid grid_9 cgal_a">
    <div class="widget widget_53_33 cgal standardWidget">
        <div class="wHeader">


            <a href="{{ cover_base_url }}/{{ nav_index }}/{{ four_tag.id }}/" class="more">更多...</a>
        </div>
        <div class="wBody">

            <ul class="list list_ArticleModule">
                    {% for article in four_article_list %}
                        <li>
                            <a href="{{ article_base_url }}/{{ nav_index }}/{{ article.id }}/" target="_blank" title="日本研究生留学需要满足的一些硬性条件">
                                {{ article.title|slice:"10" }}
                            </a>
                            <span>{{ article.issue_time|date:"Y/m/d" }}</span>
                        </li>
                    {% endfor %}

            </ul>
        </div>
    </div>
</div>

</div>
<!--动态加载模块结束-->

{% endblock %}
