
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta name="keywords" content="广西麦格瑞,麦格瑞出国,广西留学移民,广西出国,南宁出国">

    <link href="/live/static/app.css" rel="stylesheet" media="all"/>
{#    <title></title>#}
{#    <link href="/live/static/app.css" rel="stylesheet" media="all"/>#}
{#    <link href="/live/static/index.css" rel="stylesheet" media="all"/>#}
{#    <script src="http://www.lwdweb.top:27230/Content/front/js/jquery.js"></script>#}
{#    <script src="http://www.lwdweb.top:27230/Content/front/js/LAB.min.js"></script>#}
{#    <script src="http://www.lwdweb.top:27230/Content/front/js/ensureMedia.js"></script>#}
    <style>


    </style>
</head>
<body>
 {%block main%} {% endblock %}

 <div style="height: 51px;"></div>
<div class="mgr_tab">
    {% if web_site == 0 %}
        <a href="{{ base_url }}/0" class="node lx_left">  留学</a>
        <a href="{{ base_url }}/1" class="node lx_right"> 移民</a>
    {% else %}
        <a href="{{ base_url }}/0" class="node ym_left">  留学</a>
        <a href="{{ base_url }}/1" class="node ym_right"> 移民</a>
    {% endif %}
</div>
</body>
</html>