

{% extends "mobile/base.html" %}

{%block main%}
{#    <link href="/live/static/app.css" rel="stylesheet" media="all"/>#}
{#    <link href="/live/static/index.css" rel="stylesheet" media="all"/>#}
    <script src="{{ static }}/Content/front/js/jquery.js"></script>
    <script src="{{ static }}/Content/front/js/LAB.min.js"></script>
    <script src="{{ static }}/Content/front/js/ensureMedia.js"></script>

    <div class="mgr_header">
        <img class="logo" src="{{ static }}/img/logo.png">
        <div class="phone">
            <img  src="{{ static }}/img/phone.png">
        </div>

    </div>
{#<div name="ymgj_banner" class="container container_24 tplArea ymgj_banner">#}
{#    <div class=" banner_b">#}
{#        <div class="widget widget_43_29" data-title="移民国家焦点图" href="/ymgj_jdt/">#}
{#            <div class="ImageDisplayBoxWrap ImageDisplayBoxWrap_LinkModule">#}
                <div class="ImageDisplayBox imageDisplay_43">
                   {% for article in five_article_list %}
                        <a href="{{ article_base_url }}/{{ web_site }}/{{ article.id }}/" target="_blank" title="1">
                            <img src="{{ article.cover.url }}" style="width:100%; height:auto; margin:0px 0px 0px 0px;" alt="1" />
                        </a>
{#                        <a href="{{ article_base_url }}/{{ web_site }}/{{ article.id }}/" target="_blank" title="1">#}
{#                            <img src="http://img.12xiong.top/xx_mgr_16_2018_05_31_14_36_24.jpg" style="width:100%; height:200px; margin:0px 0px 0px 0px;" alt="2" />#}
{#                        </a>#}
                    {% endfor %}

{#                </div>#}
{#            </div>#}
            <script type="text/javascript">
                $(document).ready(
                    $(function() {
                        function init(){
                            var box = $(".imageDisplay_43");
                            box.each(function(){
                                if(this.initCycle)
                                    return;
                                this.initCycle = true;

                                var box = $(this);
                                var wrap = box.closest('.ImageDisplayBoxWrap');

                                box.cycle({
                                    slides: "> a"
                                });
                            });
                        }
                        ensureMedia({"_css": {}, "_js": ["{{ static }}/5migrate/jquery.js", "{{ static }}/5migrate/jquery.cycle2.min.js"]}, init);
                    })
                )
            </script>
        </div>
{#    </div>#}
{#</div>#}

    {#导航#}
    <div class='team page__p_15 page_bg_white' >
        <div style="height:15px"></div>
        <div class='rol'>
            {%  for nav in nav_list %}
                <a href="{{ tab_base_url }}/{{ web_site }}/{{ nav.id }}" class='node' >
{#                    <img src='http://m.visabridge.cn/templets/default/images/guoqi/01.png'/>#}
                    <img src='{{ nav.logo.url }}'/>
                    <div>{{ nav.name }}</div>
                </a>
            {%  endfor %}

            {% if web_site == 0 %}
{#                留学#}
                <a href="{{ cover_base_url }}/{{ web_site }}/{{ nav_yx.id }}" class='node' >
                    <img src='{{ nav_yx.logo.url }}'/>
                    <div>{{ nav_yx.name }}</div>
                </a>
                <a href="{{ cover_base_url }}/{{ web_site }}/{{ nav_success.id }}" class='node' >
                    <img src='{{ nav_success.logo.url }}'/>
                    <div>{{ nav_success.name }}</div>
                </a>
                <a href="{{ about_me_url }}/{{ web_site }}/{{ nav_about_me.id }}" class='node' >
                    <img src='{{ nav_about_me.logo.url }}'/>
                    <div>{{ nav_about_me.name }}</div>
                </a>
            {% else %}
{#                移民#}

                <a href="{{ about_me_url }}/{{ web_site }}/{{ nav_about_me.id }}" class='node' >
                    <img src='{{ nav_about_me.logo.url }}'/>
                    <div>{{ nav_about_me.name }}</div>
                </a>
            {% endif %}
        </div>
    </div>
{#http://img.12xiong.top/xx_mgr_16_2018_05_31_14_36_24.jpg#}
{#    留学资讯#}
    <div class='page__p_15 page_bg_gold'>
        <div  class='page__p_t_15 news_header' >
                <div class='page_font_gold title'>{{ two_tag.name }}</div>
                <a href="{{ cover_base_url }}/{{ web_site }}/{{ two_tag.id }}" class="more">MORE</a>
        </div>
        <div class='page__line_gray'></div>
        <div class="news_border">
            <div class='news'>
                 {% for article in two_article_list %}
                     <a href="{{ article_base_url }}/{{ web_site }}/{{ article.id }}" >
                        <div class=' node'>
                            <div class='left'>
                                <div class='title'> {{ article.title  }}</div>
                                <div class='time'>{{ article.issue_time|date:"Y/m/d" }}</div>
                            </div>
                            {% if article.cover != None %}
                                 <div class='cover' >
                                    <img src='{{ article.cover.url }}' />
                                </div>
                            {% endif %}

                        </div>
                        <div class='line__gray'  ></div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>


{#    成功案例#}
    <div class='page__p_15 page_bg_gold'>
        <div  class='page__p_t_15 news_header' >
                <div class='page_font_gold title'>{{ four_tag.name }}</div>
                <a href="{{ cover_base_url }}/{{ web_site }}/{{ four_tag.id }}" class="more">MORE</a>
        </div>
        <div class='page__line_gray'></div>
        <div class="news_border">
            <div class='news'>
                 {% for article in four_article_list %}
                     <a href="{{ article_base_url }}/{{ web_site }}/{{ article.id }}" >
                        <div class=' node'>
                            <div class='left'>
                                <div class='title'> {{ article.title  }}</div>
                                <div class='time'>{{ article.issue_time|date:"Y/m/d" }}</div>
                            </div>
                            {% if article.cover != None %}
                                 <div class='cover' >
                                    <img src='{{ article.cover.url }}' />
                                </div>
                            {% endif %}

                        </div>
                        <div class='line__gray'  ></div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>

    <div style="height: 15px;"></div>


<div class="mgr_footer">
<img class="mgr_footer_img"  src="/live/static/img/mgr_log.jpg"/>

        <br>

        <div class="icon" ><img src="/live/static/img/address.png"/>南宁</div>
        <div>电话：0771-5804101</div>
        <div>地址：广西南宁市青秀区航洋国际C座1518 </div>
        <br>
        <div class="icon" ><img src="/live/static/img/address.png"/>北海</div>
        <div>电话：0779-3996693</div>
        <div>地址：北海市北京路128号宁春城7楼G16-2</div>

        <br>
        <div class="icon" ><img src="/live/static/img/address.png"/>柳州</div>
        <div>电话：13307723122</div>
        <div>地址：柳州市文昌路20号乐和大厦34层11、12室</div>
        <br>

        <div class="center">
            <div>Copyright © 2016-2018&nbsp;My Great&nbsp;Overseas Consultancy Co., Ltd. All rights reserved. </div>
            <div>麦格瑞出国咨询有限公司版权所有 </div>
            <div>备案号：桂ICP备16006260号-1 </div>
        </div>
        <br>
</div>
{#            </div>#}
{#        </div>#}
{% endblock %}